@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-montserrat
    }
}
.header .toggleMenu span {
    height: 0.13rem;
    width: 2rem;
    @apply bg-darkgray block mb-1 ml-auto
}
.header .toggleMenu span:nth-child(2){
    width: 1.5rem;
}
.header .toggleMenu span:nth-child(3){
    width: 0.8rem;
}
.headerMobileNav {
    max-height: 0;
    overflow: hidden;
}
.headerMobileNav.active { 
    max-height: 500px;
}
.leading h2{
    font-weight: 700;
    color:  #252B42;
}